<h1>参加登録</h1>


<%= form_with(model: [:event, @registration], local: true) do |form| %>
  <div class="ui segment center aligned">
    <%= link_to '戻る', event_path(id: @event.id), class: "ui button" %>
    <%= form.submit 'このイベントに参加する', class: "ui button primary" %>
  </div>
<% end %>

