<h1 class="ui header">イベント一覧</h1>

<% @events.each do |event| %>
<h3 class="ui top attached header"><%= link_to event.title, event %></h3>
<div class="ui attached segment">
  <div class="ui relaxed divided list">
    <div class="item">
      <span class="header">日時</span>
      <div class="description">
        <%= format_date(event.start) %>〜<%= format_date(event.end) %>
      </div>
    </div>
    <div class="item">
      <span class="header">会場</span>
      <div class="description"><%= event.location %></div>
    </div>
    <div class="item">
      <span class="header">主催者</span>
      <div class="description">&nbsp;</div>
    </div>
    <div>
      
    </div>
  </div>
</div>
<% end %>

<%= link_to 'New Event', new_event_path %>
