<div class="ui grid">
  <div class="twelve wide column">
    <h1 class="header"><%= @event.title %></h1>
  </div>
  <div class="right floated four wide column right aligned">
    
    <% if @event.attendees.include?(current_user) %>
      <%= link_to '申し込み済み', '#', class: 'ui button primary' %>
    <% else %>
      <%= link_to '参加する', new_event_registration_path(event_id: @event.id), class: 'ui button primary' %>
    <% end %>
  </div>
</div>

<div class="ui segment">
  <div class="ui relaxed divided list">
    <div class="item">
      <span class="header">日時</span>
      <div class="description">
        <%= format_date(@event.start) %>〜<%= format_date(@event.end) %>
      </div>
    </div>
    <div class="item">
      <span class="header">会場</span>
      <div class="description"><%= @event.location %></div>
    </div>
    <div class="item">
      <span class="header">主催者</span>
      <div class="description">
        <% @event.organizers.each do |u| %>
          <a class="ui image label"><i class="user icon"></i><%= u.email %></a>
        <% end %>
      </div>
    </div>
    <div class="item">
      <span class="header">参加者数</span>
      <div class="description">
        <%= @event.attendees.count %> 人 / <%= 10 %> 人
      </div>
    </div>
  </div>
</div>

<div class="ui horizontal divider">
  <i class="tag icon"></i>
  詳細
</div>

<div class="ui" id="event_main_content">
<%= render_md(@event.main_content) %>
</div>

<div id="attendees">
  <h2 class="ui center aligned icon header small">
    <i class="circular users icon"></i>
    参加者
  </h2>
  <ul>
    <% @event.attendees.each do |u| %>
      <li><a class="ui image label"><i class="user icon"></i><%= u.email %></a></li>
    <% end %>
  </ul>

  <h3 class="ui sub header">キャンセル</h3>
  <% if @event.cancels.count == 0 %>
    キャンセルしたユーザーはいません
  <% else %>
    <ul>
      <% @event.cancels.each do |u| %>
      <li><a class="ui image label"><i class="user icon"></i><%= u.email %></a></li>
      <% end %>
    </ul>
  <% end %>
</div>



<% if @event.organizers.include?(current_user) %>
<div class="ui segment">
<%= link_to 'Edit', edit_event_path(@event) %>
</div>  
<% end %>

<p>debug: <%= notice %></p>
<p><%= flash.keys() %></p>