// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//$import-google-fonts: false;
//@import 'semantic-ui';

#event_main_content {
    padding-top: 1rem;
    h1, h2, h3, h4, h5 {
    }
}

#attendees {
    padding-top: 1rem;
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
            margin: 0.1rem;
            float: left;
        }
    }
    ul:after {
        display: table;
        content: "";
        clear: both;
    }
}
