<!DOCTYPE html>
<html>
  <head>
    <title>Radish</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui fixed menu">
      <a href="/" class="header item">Radish</a>
      <div class="right menu">
        <% if user_signed_in? %>
        <div class="ui simple dropdown item">
          <%= current_user.email %>
          <i class="icon dropdown"></i>
          <div class="menu transition">
            <div class="item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
            </div>
          </div>
        </div>
        <% else %>
        <%= link_to 'ログイン', new_user_session_path, class: 'item' %>
        <% end %>
      </div>
    </div>
    <!-- BEGIEN Main -->
    <div class="ui main text container">
      <% flash.each do |key, value| %>
      <% if key == "notice" %>
        <p id="notice" class="ui message info"><%= value %></p>
        <% elsif key == "alert" %>
        <p id="notice" class="ui message error"><%= value %></p>
        <% else %>
        <p id="notice" class="ui message"><%= key %>: <%= value %></p>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <!-- END Main -->
    <div class="ui inverted vertical footer segment">
    </div>
  </body>
</html>
